@import "./fonts.css";
@import "./controls.css";
@import "./template.css";
@import "./stripes.css";

@tailwind base;
@tailwind utilities;
@tailwind components;

.grid-12 {
  @apply grid-cols-12;
  @apply gap-2;
  @apply grid;
}

.fill-turquoise > svg > path {
  fill: theme("colors.turquoise.DEFAULT");
  @apply transition-all ease-in-out duration-200;
}

.fill-white > svg > path {
  fill: #fff;
  @apply transition-all ease-in-out duration-200;
}

.fill-lightGray > svg > path,
.fill-lightGray > svg > circle {
  fill: theme("colors.lightGray");
  @apply transition-all ease-in-out duration-200;
}

.hover\:fill-turquoise:hover > svg > path,
.hover\:fill-turquoise:hover > svg > circle {
  fill: #00ffc2;
}
